.leaderboard-row {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.even {
  background: rgb(0 0 0 / 10%);
}

.odd {
  background: rgb(0 0 0 / 22%);
}

@media screen and (max-width: 600px) {
  .leaderboard-row {
    font-size: 14px;
  }
}
